<div class="w-100">
  <div class="d-flex flex-column ">
    <span class="heading fw-bold ">Available Events</span>
    <span class="sub-heading">View</span>
  </div>
  <div class="w-100 d-flex justify-content-end mt-3" *ngIf="user?.privilege != 'std'">
    <button routerLink="add-event" class="btn btn-primary btn-active text-uppercase fw-bold px-4 py-1 h6">
      <i class="fas fa-plus me-1"></i>
      <span>Add Event</span>
    </button>
  </div>
  <div class="w-100 overflow-x-auto mt-2">
    <div class="">
      <table class="w-auto table table-bordered overflow-x-scroll ">
        <thead>
          <tr class="label text-uppercase text-center">
            <th class="col-1" style="min-width: 80px;">Sno</th>
            <th class="col-1" style="min-width: 200px;">Event Name</th>
            <th class="col-2" style="min-width: 200px;">Event Type</th>
            <th class="col-2" style="min-width: 200px;" *ngIf="user.privilege != 'std'">Departments</th>
            <th class="col-2" style="min-width: 200px;">Start Date</th>
            <th class="col-2" style="min-width: 200px;">End Date</th>
            <th class="col-2" style="min-width: 150px;" *ngIf="user.privilege != 'std'">Enable Event</th>
            <th class="col-2" >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let event of availableEvents;index as index">
            <th class="col-1 text-center"> {{ index + 1 }} </th>
            <td class="">{{ event.event_name }}</td>
            <td class="">{{ event.event_type }}</td>
            <td class="">
              <!-- {{ getDepartments(event.dept_can_participate) }} -->
              <div >
                <span *ngFor="let dept of event.dept_can_participate" class="px-2 py-1 bg-primary-subtle me-1 rounded-2">
                  {{ dept | uppercase }}
                </span>
              </div>
            </td>
            <td class="">{{ getDateToDisplay(event.start_date) }}</td>
            <td class="">{{ getDateToDisplay(event.end_date) }}</td>
            <td class=""  *ngIf="user?.privilege != 'std'">
              <div class="form-check form-switch d-flex justify-content-center">
                <input type="checkbox" class="form-check-input fs-5 border-2" role="switch" (change)="eventStatusChange(event._id,$event)" [checked]="event.status">
              </div>
            </td>
            <td class="" *ngIf="user?.privilege != 'std'">
              <div class="d-flex justify-content-center">
                <button [routerLink]="'registrations/' + event._id" class="btn btn-primary btn-active">
                  <i class="fas fa-book"></i>
                </button>
                <button  class="btn btn-secondary btn-active mx-1" (click)="modifyEvents()">
                  <i class="fas fa-cash-register"></i>
                </button>
                <button class="btn btn-warning btn-active" (click)="modifyEvents()">
                  <i class="fas fa-pencil"></i>
                </button>
                <button class="btn btn-danger btn-active ms-1" (click)="deleteTheEvent()">
                  <i class="fas fa-trash"></i>
                </button>
              </div>
            </td>
            <td class="" *ngIf="user?.privilege == 'std'">
              <div class="d-flex justify-content-center">
                <button [routerLink]="'registration-form/' + event._id" class="btn btn-primary btn-active">
                  <i class="fas fa-book"></i>
                </button>
                <button routerLink="feedback-form" class="btn btn-secondary btn-active ms-1">
                  <i class="fas fa-cash-register"></i>
                </button>
              </div>
            </td>
          </tr>
          <tr *ngIf="availableEvents.length == 0">
            <td colspan="7" class="text-center">
              No Record Found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
