<div class="w-100">
  <div class="d-flex align-items-center">
    <div class="me-2 rounded-2 border-secondary border border-2 px-2 py-1" style="cursor: pointer;" routerLink="../">
      <i class="fas fa-arrow-left"></i>
    </div>
    <div class="d-flex flex-column">
      <span class="heading fw-bold">Create an New User</span>
      <span class="sub-heading">Form</span>
    </div>
  </div>
  <div class="w-100 mt-lg-1 mt-2">
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase mb-1">User Type</label>
        <form [formGroup]="userTypeForm">
          <ng-select placeholder="Select User Type" formControlName="privilege">
            <ng-option *ngFor="let privilege of privileges;" [value]="privilege.value">
              {{ privilege.label }}
            </ng-option>
          </ng-select>
        </form>
      </div>
    </div>
    <hr class="mb-2">
    <div *ngIf="privilege?.value === 'std'">
      <app-new-student-form [privilege]="privilege?.value"></app-new-student-form>      
    </div>
    <div *ngIf="privilege?.value === 'staff'">
      <app-new-staff-form [privilege]="privilege?.value"></app-new-staff-form>      
    </div>
    <div *ngIf="privilege?.value === 'admin'">
      <app-new-admin-form [privilege]="privilege?.value"></app-new-admin-form>      
    </div>
  </div>
</div>
