<form [formGroup]="updatedUserData" (submit)="updateFormSubmit()">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Modify Existing Admin</span>
    <span class="sub-heading">Settings</span>
  </div>
  <div class="row my-lg-3">
    <div class="col-lg-4 my-1 my-lg-0">
      <label class="fw-bold text-uppercase mb-1">First Name</label>
      <input formControlName="first_name" type="text" class="form-control border-2 input" placeholder="Admin First Name" />
    </div>
  
    <div class="col-lg-4 my-1 my-lg-0">
      <label class="fw-bold text-uppercase mb-1">Last Name</label>
      <input formControlName="last_name" type="text" class="form-control border-2 input" placeholder="Admin Last Name" />
    </div>
  
    <div class="col-lg-4 my-1 my-lg-0">
      <label class="fw-bold text-uppercase mb-1">Email</label>
      <input type="email" class="form-control border-2 input bg-light" placeholder="Admin Email Address" [disabled]="true" [value]="updatedUserData.get('email')?.value" />
    </div>
  </div>
  <div class="row my-lg-3">
    
    <div class="col-lg-4 my-1 my-lg-0">
      <label class="fw-bold text-uppercase mb-1">Gender</label>
      <ng-select placeholder="Admin Gender" formControlName="gender">
        <ng-option value="m">Male</ng-option>
        <ng-option value="f">Female</ng-option>
      </ng-select>
    </div>
  
  </div>
  
  <hr>
  <div class="w-100 d-flex justify-content-lg-end flex-lg-row flex-column">
    <button routerLink="/users" class="btn btn-secondary text-uppercase fw-bold px-lg-4 py-lg-1 py-2 h6 mx-lg-2">
      Back
    </button>
    <button class="btn btn-primary text-uppercase fw-bold px-lg-4 py-lg-1 py-2 h6">
      Update Admin
    </button>
  </div>
</form>