<div class="w-100">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Event Registration</span>
    <span class="sub-heading">Application for Student</span>
  </div>
  <div class="w-100 mt-lg-1 mt-2">
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">First Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          value="value"
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Last Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          value="value"
          disabled
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Register Number</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          value="value"
          disabled
        />
      </div>
    </div>
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Department</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          value="value"
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Year of Study</label>
          <input
          type="text"
          value="value"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Email</label>
          <input
          value="value"
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
        />
      </div>
    </div>
    <hr class="mb-2" />
    <div class="d-flex flex-column">
      <span class="heading fw-bold">Event Registration</span>
      <span class="sub-heading">Details</span>
      <div class="w-100 mt-lg-1 mt-2">
        <div class="row my-lg-3">
          <div class="col-lg-2 my-1 my-lg-0 d-flex flex-column">
            <label class="fw-bold text-uppercase">Start Date</label>
            <span class="detail-data mt-1 fs-5">12-12-2023</span>
          </div>
          <div class="col-lg-2 my-1 my-lg-0 d-flex flex-column">
            <label class="fw-bold text-uppercase">Start Date</label>
            <span class="detail-data mt-1 fs-5">12-12-2023</span>
          </div>
        </div>
        <div class="row my-lg-3">
          <div class="col-lg-12 my-1 my-lg-0 d-flex flex-column">
            <label class="fw-bold text-uppercase">Event Name</label>
            <span class="detail-data mt-1 fs-4">{{ "Workshop on IoT" }}</span>
          </div>
        </div>
        <div class="row my-lg-3">
          <div class="col-lg-12 my-1 my-lg-0 d-flex flex-column">
            <label class="fw-bold text-uppercase">Event Summary</label>
            <span class="detail-data mt-1 event-summary">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deserunt aliquid alias porro dolorem magni explicabo architecto veritatis nemo aut sequi, maxime dolore voluptatibus fugiat nulla repellendus adipisci. Nesciunt, asperiores aliquid. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex, atque sunt! Neque dolore possimus, odio at expedita in! Sint quidem sit eaque in fugiat voluptates deleniti mollitia dicta quos maiores.
            </span>
          </div>
        </div>
      </div>
      <hr class="mt-lg-0 mb-lg-2" />
      <div class="w-100 d-flex justify-content-lg-end flex-lg-row flex-column">
        <button routerLink="../" class="btn btn-secondary text-uppercase fw-bold px-lg-4 py-lg-1 py-2 h6 mx-lg-2">
          Back
        </button>
        <button class="btn btn-primary text-uppercase fw-bold px-lg-4 py-lg-1 py-2 h6">
          Apply for Event
        </button>
      </div>
    </div>
  </div>
</div>
