<div class="text-center" *ngIf="loading">
  <span class="text-uppercase fw-bold">
    Loading...
  </span>
</div>

<div class="w-100" *ngIf="!loading">
    <div *ngIf="userData.privilege === 'std'">
      <app-modify-student [userData]="userData"></app-modify-student>      
    </div>
    <div *ngIf="userData.privilege === 'staff'">
      <app-modify-staff [userData]="userData"></app-modify-staff>      
    </div>
    <div *ngIf="userData.privilege === 'admin'">
      <app-modify-admin [userData]="userData"></app-modify-admin>      
    </div>
</div>
