<div class="w-100">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Student Registration</span>
    <span class="sub-heading">Details</span>
  </div>
  <div class="w-100 mt-lg-1 mt-2">
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">First Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          [value]="registrationData.first_name"
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Last Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          [value]="registrationData.last_name"
          disabled
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Register Number</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          [value]="registrationData.reg_no"
          disabled
        />
      </div>
    </div>
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Department</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          [value]="registrationData.dept"
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Year of Study</label>
          <input
          type="text"
          [value]="registrationData.year_of_study"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Email</label>
          <input
          [value]="registrationData.email"
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
        />
      </div>
    </div>
    <hr class="mb-2" />
    <div>
      <div class="w-100 d-flex justify-content-end">
        <button
          routerLink="../../"
          class="btn btn-secondary text-uppercase fw-bold px-4 py-1 h6 mx-2"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</div>
