<div class="w-100">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Registration Book</span>
    <span class="sub-heading">Students</span>
  </div>
  <div class="w-100 d-flex justify-content-end mt-3">
    <button routerLink="../../" class="btn btn-secondary py-1 mx-2 h6 text-uppercase fw-bold">
      Back
    </button>
    <button class="btn btn-primary py-1 h6 text-uppercase fw-bold">
      <i class="fas fa-download me-1"></i>
      <span>Download Registrations</span>
    </button>
  </div>
  <div class="w-100 overflow-x-auto mt-2">
    <table class="table table-bordered overflow-x-scroll ">
      <thead>
        <tr class="label text-uppercase text-center">
          <th class="" style="min-width: 80px;">Sno</th>
          <th class="" style="min-width: 180px;">Name</th>
          <th class="" style="min-width: 180px;">Register Number</th>
          <th class="" style="min-width: 120px;">Department</th>
          <th class="" style="min-width: 120px;">Year of Study</th>
          <th class="" style="min-width: 180px;">Email</th> 
          <th class="" style="min-width: 120px;">Action</th>
        </tr>
      </thead>
      <tbody class="">
        <tr *ngFor="let register of avlRegistrations; index as index">
          <th class="text-center">{{index + 1}}</th>
          <td class="">{{(register.first_name + " " + register.last_name) | uppercase}}</td>
          <td class="">{{register.reg_no | uppercase}}</td>
          <td class="">{{register.dept | uppercase}}</td>
          <td class="">{{register.year_of_study}}</td>
          <td class="">{{register.email | lowercase}}</td>
          <td class="">
            <div class="d-flex justify-content-center">
              <button [routerLink]="'v/' + register._id" title="View Data" class="btn btn-warning me-1">
                <i class="fas fa-book-bookmark"></i>
              </button>
              <button title="Delete" class="btn btn-danger" >
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr *ngIf="avlRegistrations.length === 0">
          <td colspan="7" class="text-center">
            No Record Found
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
