<div [class]="'w-100'">
  <div class="w-100 d-flex justify-content-end pt-4 pe-4 d-lg-none" (click)="closeNav()" style="cursor: pointer;">
    <span class="btn py-1 pb-0 px-1">
      <i class="fas fa-xmark fs-3"></i>
    </span>
  </div>
  <div class="w-100 d-flex justify-content-center my-5 ">
    <i class="fa-solid fa-user display-1"> </i>
  </div>
  <div class="ps-4">
    <div class="mb-3" (click)="closeNav()">
      <a routerLink="dash-board" class="text-decoration-none text-secondary" routerLinkActive="fw-bold text-primary-emphasis ">
        <i class="fas fa-meteor"></i>
        Dashboard
      </a>
    </div>
    <div class="mb-3 " (click)="closeNav()">
      <a routerLink="event-management" class="text-decoration-none text-secondary" routerLinkActive="fw-bold text-primary-emphasis ">
        <i class="fas fa-book-reader"></i> 
        Event Management
      </a>
    </div>
    <div class="mb-3 " (click)="closeNav()" *ngIf="!(user?.privilege === 'std')">
      <a routerLink="users" class="text-decoration-none text-secondary" routerLinkActive="fw-bold text-primary-emphasis ">
        <i class="fas fa-users"></i>
        Users
      </a>
    </div>
  </div>
</div>