<div class="w-100">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Dashboard</span>
    <span class="sub-heading">Notifications</span>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <div class="alert alert-success py-4">
        <span>Welcome to the Dashboard of EMS Web Portal!</span>
      </div>
    </div>
    <div class="col-12" *ngIf="events.length != 0">
      <div class="alert alert-warning py-4">
        <span>
          <span>{{ events.length }}</span>
          <span *ngIf="events.length === 1"> Event is</span>
          <span *ngIf="events.length != 1 "> Event's are</span>
          <span> Available!</span>
        </span>
      </div>
    </div>
  </div>
</div>