<div *ngIf="loading" class="w-100 text-center d-flex align-items-center justify-content-center">
  <div class="spinner-border spinner-border-sm" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <span class="ms-1">
    Loading...
  </span>
</div>
<div class="w-100" *ngIf="!loading">
  <div class="d-flex flex-column">
    <span class="heading fw-bold">Event Feedback</span>
    <span class="sub-heading">Form for Student</span>
  </div>
  <div class="w-100 mt-lg-1 mt-2">
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">First Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          [value]="user.first_name"
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Last Name</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          [value]="user.last_name"
          disabled
        />
      </div>
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Register Number</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          [value]="user.reg_no"
          disabled
        />
      </div>
    </div>
    <div class="row my-lg-3">
      <div class="col-lg-4 my-1 my-lg-0">
        <label class="fw-bold text-uppercase">Department</label>
        <input
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          [value]="getDepartment(user.dept).dept"
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Year of Study</label>
          <input
          type="text"
          [value]="user.year_of_study"
          class="form-control border-2 input bg-white text-secondary"
          disabled
          />
        </div>
        <div class="col-lg-4 my-1 my-lg-0">
          <label class="fw-bold text-uppercase">Email</label>
          <input
          [value]="user.email"
          type="text"
          class="form-control border-2 input bg-white text-secondary"
          disabled
        />
      </div>
    </div>
    <hr class="mb-2" />
    <form [formGroup]="feedbackForm" (submit)="submitFeedbackForm()">
      <div class="d-flex flex-column">
        <span class="heading fw-bold">About Event</span>
        <span class="sub-heading">Form</span>
        <div class="w-100 mt-lg-1 mt-2">
          <div class="row my-lg-3">
            <div class="col-lg-4 my-1 my-lg-0 d-flex flex-column">
              <label class="fw-bold text-uppercase">
                Hospitality
                <span class="text-danger">*</span>
              </label>
              <ng-select [multiple]="false" placeholder="Select Hospitality" formControlName="hospitality">
                <ng-option value="excellent">Excellent</ng-option>
                <ng-option value="very good">Very Good</ng-option>
                <ng-option value="good">Good</ng-option>
                <ng-option value="satisfied">Satisfied</ng-option>
              </ng-select>
            </div>
            
            <div class="col-lg-4 my-1 my-lg-0 d-flex flex-column">
              <label class="fw-bold text-uppercase">
                Guidence
                <span class="text-danger">*</span>
              </label>
              <ng-select [multiple]="false" placeholder="Select Guidence" formControlName="guidence">
                <ng-option value="excellent">Excellent</ng-option>
                <ng-option value="very good">Very Good</ng-option>
                <ng-option value="good">Good</ng-option>
                <ng-option value="satisfied">Satisfied</ng-option>
              </ng-select>
            </div>
            
            <div class="col-lg-4 my-1 my-lg-0 d-flex flex-column">
              <label class="fw-bold text-uppercase">
                Experience
                <span class="text-danger">*</span>
              </label>
              <ng-select [multiple]="false" placeholder="Select Experience" formControlName="experience">
                <ng-option value="excellent">Excellent</ng-option>
                <ng-option value="very good">Very Good</ng-option>
                <ng-option value="good">Good</ng-option>
                <ng-option value="satisfied">Satisfied</ng-option>
              </ng-select>
            </div>
          </div>
          <div class="row my-lg-3">
            <div class="col-lg-12 my-1 my-lg-0 d-flex flex-column">
              <label class="fw-bold text-uppercase">
                Opinion
              </label>
              <textarea formControlName="opinion" rows="3" placeholder="Your Opinion" class="form-control border-2 text-secondary"></textarea>
            </div>
          </div>
        </div>
        <hr class="mt-lg-0 mb-2" />
        <div class="w-100 d-flex justify-content-lg-end flex-lg-row flex-column">
          <button routerLink="../../" class="btn btn-secondary btn-active text-uppercase fw-bold px-lg-4 py-lg-1 py-2 h6 mx-lg-2">
            Back
          </button>
          <button class="btn btn-primary text-uppercase btn-active fw-bold px-lg-4 py-lg-1 py-2 h6" *ngIf="!applyBtn" [disabled]="feedbackForm.invalid">
            Submit Feedback
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
